<?xml version="1.0"?>
<configuration>
  <!--
  <system.diagnostics>
    <trace autoflush="true" />
    
    <sources>
      <source name="System.ServiceModel"
               switchValue="Warning"
               propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics> -->
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8732/WcfDataServer_Lib.WcfDataServer" binding="netTcpBinding" bindingConfiguration="tcpfilestream_IWcfDataServer" contract="DSServiceReference.IWcfDataServer" name="tcpfilestream_IWcfDataServer">
        <identity>
          <userPrincipalName value="ASU-SMIRNOV\Денис"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:8732/WcfDataServer" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfDataServer" contract="DSServiceReference.IWcfDataServer" name="NetTcpBinding_IWcfDataServer"/>
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="1000" maxSizeOfMessageToLog="200000"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="DSRouterService.DSRouterSource" switchName="DSRouterService.Switch">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Log\DSRouterServiceLog.svclog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, Error, Critical" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Log\SystemErrorsLog.svclog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DSRouterService.Switch" value="All"/>
    </switches>
  </system.diagnostics>
  <appSettings/>
  <connectionStrings/>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="pollingDuplex" type="System.ServiceModel.Configuration.PollingDuplexElement, System.ServiceModel.PollingDuplex"/>
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DSFakeServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentSessions="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- Bindings -->
    <bindings>
      <!-- PollingDuplexBinding -->
      <customBinding>
        <binding name="pollingDuplexBinding">
          <binaryMessageEncoding/>
          <pollingDuplex inactivityTimeout="00:00:40" serverPollTimeout="00:00:10" maxPendingMessagesPerSession="2147483647" maxPendingSessions="2147483647"/>
          <httpTransport/>
        </binding>
      </customBinding>
      <!-- NetTcpBinding -->
      <netTcpBinding>
        <binding name="tcpfilestream_IWcfDataServer"/>
        <binding name="NetTcpBinding_IWcfDataServer">
          <security mode="None"/>
        </binding>
        <binding name="tcpBindingNoSecurity">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <!-- Bindings -->
    <!-- Services -->
    <services>
      <service behaviorConfiguration="DSFakeServiceBehavior" name="DSRouterServiceIIS.DSRouterService">
        <endpoint address="" binding="customBinding" bindingConfiguration="pollingDuplexBinding" contract="DSRouterServiceIIS.IDSRouter"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBindingNoSecurity" contract="DSRouterServiceIIS.IDSRouter"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3332/DSRouter.DSRouterService"/>
            <!-- <add baseAddress="http://korell/SilverlightReactivePushServer.Web/TemperatureService.svc" /> -->
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- Services -->
  </system.serviceModel>
  <!--
    Описание изменений web.config для .NET 4.5 см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DSRouterService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>